@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Student Details</h2>
<br>
<h3>@Html.DisplayFor(model => model.Name)</h3>
<br>
<h4>@Html.DisplayNameFor(model => model.EnrollmentDate): @Html.DisplayFor(model => model.EnrollmentDate)</h4>

@if(@Model.Courses.Count == 0)
{
  <p>This student doesn't have any courses.</p>
}
else
{
  <h4>Courses this student is taking:</h4>
  <ul>
    @foreach (var join in Model.Courses)
    {
      <li>@join.Course.CourseNumber | @join.Course.CourseName</li>
    }
  </ul>
}
<p>@Html.ActionLink("Edit student", "Edit", new { id = Model.StudentId})</p>
<p>@Html.ActionLink("Add course to schedule", "AddCourse", new { id = Model.StudentId })</p>
<p>@Html.ActionLink("Back to Student List", "Index")</p>